# baseUrl for the application
BASE_URL = website_url
# Usernames for different test scenarios
STANDARD_USER_USERNAME = standard_user_usernanme
LOCKED_USER_USERNAME = locked_user_username
PROBLEM_USER_USERNAME = problem_user_username
ERROR_USER_USERNAME = error_user_username
VISUAL_USER_USERNAME = virtual_user_username
PERFORMANCE_USER_USERNAME = performance_user_username
# common password for all users
PASSWORD = password
